form {
    width: 200px;
    margin: 20px auto;
}

input {
    width: 100%;
    padding: 10px;
}

.card-dex {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #06bdff;
    margin-top: 10px;
    margin-bottom: 10px;
}


.poke-card {
    position: relative;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 300px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid black;
}

.poke-card::before {
    content: '';
    background: radial-gradient(black 33%, transparent 33%);
    background-size: 3px 3px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
}

.img-container {
    position: relative;
    width: 180px;
    margin: 10px auto;
}

.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}

.poke-types div {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px dashed black;
}

.poke-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

/* Contenedor del botón Shiny */
.shiny-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 10px;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    /* Fondo y sombras eliminadas */
}

/* Botón Shiny */
.shiny-button {
    background-image: url(/images/shiny-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    width: 35px;
    height: 35px;
    border: 1px solid black;
    /* Borde fino */
    border-radius: 8px;
    /* Bordes redondeados */
    background-color: #ffffff;
    /* Fondo blanco */
    cursor: pointer;
    transition: border-color 0.3s ease, transform 0.2s ease;
}

.shiny-button:hover {
    border-color: #ffde06;
    /* Cambio de color sutil en el borde */
}

.shiny-button:active {
    transform: scale(0.9);
}

.hidden {
    display: none;
}